@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  @apply bg-black text-white
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @apply bg-black
}

#root{
  @apply flex items-center flex-col w-screen
}